@import "../../../sass-mixins/placeholders.scss",
  "../../../sass-mixins/mixins.scss";

.post_page {
  margin-top: 156px;
  margin-bottom: 156px;
  .img__box {
    width: 100%;
    img {
      width: 100%;
      border-radius: 20px;
      box-shadow: 4px 4px 30px 0px rgba(34, 60, 80, 0.2);
    }
  }
  .post__wrapper {
    margin-top: 25px;
    max-width: 837px;
    .user__info {
      display: flex;
      align-items: center;
      gap: 25px;
      background: #bbb;
      max-width: 600px;
      border-radius: 15px;
      padding: 10px;
      img {
        width: 65px;
        border-radius: 50%;
      }
      .user__special {
        h3 {
          @extend %author-name;
        }
        p {
          @extend %info-texts;
        }
      }
    }
    .post__title {
      margin-top: 25px;
      @extend %main-title;
      color: #000;
      background-image: linear-gradient(
        to right,
        rgb(26, 28, 34) 0,
        rgba(15, 101, 194, 0.882) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .category_name{
        padding: 38px 0;
        @extend %sub-heading;
        font-size: 25px;
        background-image: linear-gradient(
        to right,
        rgb(26, 28, 34) 0,
        rgba(15, 101, 194, 0.882) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: left;
    }
    .post__body{
        @extend %info-texts;
    }

  }
}
